* {
    margin: 0px;
    padding: 0px;
    /* outline: 2px solid red; */
}

.container {
    background: white;
    width: 970px;
    min-height: 750px;
}

.header, .navbar, .main_content, .footer {
    background: #336699;
}

.header {
    padding:10px 0px 15px 0px;
}

.header img {
    display: inline-block;
    width: 350px;
    height: auto;
    margin-left: 20px;;
}

.header .search {
    display: inline-block;
    vertical-align: top;
    margin-left: 260px;
}

.header .search p {
    color: white;
    vertical-align: top;
    margin-left: 110px;
    margin-bottom: 10px;
}

.header .search a {
    color: yellow;
}

.header .search form {
    padding: 10px 45px;
    border: 1px solid black;
    border-radius: 15px;
    background: black;
}

.header .search form input {
    text-align: center;
    padding: 10px;
}

.header .search form label {
    background-color: #006699;
    color: white;
    padding: 5px;
    margin-left: 5px;
}

.navbar ul {
    padding: 10px 40px;
    margin: 0px 60px 0px 85px;
    border: 1px solid #0099cc;
    background: #0099cc;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.navbar ul li {
    list-style-type: none;
}

.navbar ul li a {
    color: white;
    font-size: 23px;
    text-decoration: none;
}

.main_content .sidebar {
    display: inline-block;
    text-align: center;
    margin: 30px 10px 0px 110px;
}

.main_content .sidebar li {
    list-style-type: none;
    padding: 10px 0px 5px;
    font-size: 18px;
}

.main_content .sidebar li a {
    color: white;
}

.main_content .sidebar li span {
    color: yellow;
}

.main_content .intro {
    display: inline-block;
    width: 650px;
    vertical-align: top;
    text-align: center;
    color: white;
    margin-left: 20px;
    padding-top: 10px
}

.main_content .intro p, h2 {
    padding: 10px 0px 10px;
    margin-right: 20px;
}

.main_content .intro .motto {
    font-size: 20px;
    color: yellow;
    font-style: italic;
}

.main_content .intro h2 {
    font-weight: normal;
    font-size: 18px;
}

.content {
    display: flex;
    justify-content: space-evenly;
    background: white;
    padding-left: 75px;
}

.content div {
    width: 300px;
    vertical-align: top;
    text-align: center;
    border-top: 5px solid #0099cc;
    padding: 0px 50px 0px 25px;
    margin-top: 10px;
}

.content ul {
    padding-left: 45px;;
}

.content span {
    font-size: 12px;
}

.content h2 {
    padding: 5px;
    font-size: 18px;
}

.content a {
    color: #0099cc;
}

.footer ul {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    padding: 50px 0px 10px;
}

.footer ul li {
    list-style-type: none;
    margin-right: 50px
}

.footer ul li a {
    color: #0099cc;
    font-size: 18px;
    text-decoration: none;
}

.footer p {
    text-align: center;
    padding: 5px;
    color: #0099cc;
    font-size: 12px;
}